body{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.list-student-content{
    margin: 0 auto;
    width:800px;
    height: 550px;
    margin-top: 100px;
    border: 1px solid #0093c4;
    padding: 10px;
   
}
#table-content1{

    border-spacing: 20px;
    border-collapse: separate;
}
#table-content2{
    border-spacing: 10px;
    border-collapse: separate;
}
.btn-box{
    color: #ffffff;
    border: 3px solid #004ba0;
    background-color: #1976d2;
    line-height: 25px;
    width: 80px;
    border-radius: 5px;
    margin-left: 50px;
}
.btn-action-content{
    margin-left: 120px;
}
.table-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-2{
    margin-top: 50px;
}
.no{
    text-align: right;
}

.name-student{
    text-align: left;
    width: 150px;
    padding-left: 60px;
}
.department{
    text-align: left;
    width: 150px;
    padding-left: 20px;
}
.action{
    text-align: left;
    padding-left: 150px;
}
.number-student{
    position: relative;
    margin-top: 20px;
}

#btn-add{
    position: absolute;
    right: 50px;
}
#btn-action{
    background-color: #bbdefb;
    border: 1px solid #004ba0;
    width: 40px;
    height: 25px;
    margin-left: 5px;
}
#select-item{
    border: 1px solid #0093c4;
    width: 155px;
    height: 30px;
}
#keyWord{
    border: 1px solid #0093c4;
    width: 150px;
    height: 25px;
}

